@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;

}
.body{
    font-family: "Merriweather", serif;
}
/* header-section-container style */
.header-section-container{
    width:1300px;
    height:600px;
    margin:0 auto;
    margin-top:50px;
    background-image:url('./assets/Banner\ Image.png');
    border-radius: 16px;
    display:flex;
    justify-content:center;
    align-items:center;
    
     

     
}
/* header-section-style */
.header-section-conten{
 width:600px;
 height:250px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:rgb(255, 255, 255);
}
.head-conten{
    font-size:32px;
    font-weight:400px;
    line-height:95px;
    text-align:center;
}
.deader-conten{
    font-size:72px;
    font-weight:900px;
    line-height:95px;
    text-align:center;
}
/* main-holiday-section-container */
.holiday-section-container{
    width:700px;
    height:706px;
    margin:120px auto;
}
.holiday-section-conten{
    text-align:center;
}
.main-holiday-header{
    font-family: Inter;
    font-size:88px;
    font-weight:700px;
    padding-bottom:35px;    
    color:red;
}
.holiday-head{
    font-size:24px;
    font-weight:500px;
    padding-bottom:16px;
    color:red;
}
.all-holiday{
    font-size:48px;
    font-weight:700px;
}
/* image-section-container-style */
.image-section-container{
    width:700px;
    height:440px;
    display:flex;
    margin-top:30px;
    margin-bottom:120px;
}

/* midnigth-section-container */
.midnight-section-container{
    width:1300px;
    height:600px;
    margin:0 auto;
    display:flex;
    background-image:url("../style/assets/Vectorrr.png");
    border-radius:6px;
    justify-content:space-around;
    align-items:center;
    margin-bottom:120px;
     
   
   
}
.midnight-section-column{
    width:50%;
    height:600px;
    padding:166px 0px 0px 10px;
   
}
.midnight-section-deader{
    font-size:64px;
    font-weight:900px; 
    line-height:88px;
    letter-spacing:11px;
    color:rgb(255, 255, 255);
}
.midnight-section-p{
    font-size:18px;
    font-weight:400px;
    line-height:30px;
    color:rgba(255, 255, 255, 0.8);
    margin-bottom:20px;
     
}
.button{
    font-size:20px;
    font-weight:700px;
     color:rgb(255, 255, 255);
     display:block;  
      
}
.midnigth-section-column2{
    justify-content:center;
     align-items:center;
}
/* new parc section style */
.new-parc-section{
    width:1300px;
    height:482px;
    border:2px solid red;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:32px;
    font-weight:600px;
    line-height:56px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.header-section{
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.join-button{
    font-size:24px;
    font-weight:700px;
    background-color:red;
     margin-top:50px; 
     display:block;
     color:white;
     width:160px;
     height:60px;
     text-align:center;
     justify-content:center;        
}
  